html {
  height: 100vh;
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  background-color: #070707;
  color: white;
}
