.aboutContainer {
  background-color: white;
  color: #151515;
  box-sizing: border-box;
  /* height: 100vh; */
  padding-top: 2rem;
  padding-left: 2rem;
}

.infoContainer {
  text-transform: uppercase;
  margin-bottom: 10em;
  margin-left: 1em;
}

@media only screen and (max-width: 768px) {
  .aboutContainer {
   padding: 1rem 0.5rem;
  }

  .infoContainer {
    margin-bottom: 5em;
  }

}