.aboutContainer {
  background-color: white;
  color: #151515;
  box-sizing: border-box;
  /* height: 100vh; */
  padding-top: 2rem;
  padding-left: 2rem;
}

.infoContainer {
  text-transform: uppercase;
  margin-bottom: 10em;
  margin-left: 1em;
}

