.skill {
  padding-left: 1em !important;
  margin: 0.5em 0;
}

.skill header {
  font-size: xx-large !important;
  font-weight: bold !important;
}
.skill article {
  max-width: 60%;
  font-size: medium !important;
  text-transform: none;
  font-weight: normal !important;
}

@media only screen and (max-width: 768px) {
  .skill article {
    max-width: 90%;
  }
  .skill header {
    max-width: 75%;
    font-size: x-large !important;
  }
  .skill {
    padding-left: 0.5em !important;
  }
}
